@tailwind base;
@tailwind components;
@tailwind utilities;
  
html {
    scroll-behavior: smooth;
}
  
html, body #root {
    height: 100%;
    width: 100%;
}
 
body {
    margin: 0;
}
  
@keyframes scrollLine {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.animate-scrollLine {
  animation: scrollLine 2s infinite;
}